:root {
    font-family: monospace;
}

/* Document Margins */
html, header, body {
    margin: 0;
    padding: 0 0;
    background: #f5f5f5;
}

body {
    position: relative;
}

/* =======
   NAVBAR
   ====== */

.nav-container {
    background: #84AFE6;
    background: #2b2b2b;
}

.nav-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 80px;
    padding: 0 30px;
    max-width: 750px;
    margin: auto;
}

.title {
    color: white;
    font-size: 24px;
}

.navtext {
    color: white;
}

.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}

#addButton {
    font-family: monospace;
    padding: 10px 10px;
    background: green;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    border: 1px solid green;
}

#addButton:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}

/* ====
   BODY
   ==== */

body {
    background: #f5f5f5;
}

.library-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
    padding: 15px;
    height: fit-content;
    max-width: 1000px;
}

.bodyText {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* =====
   CARDS
   ===== */

.card {
    color: white;
    height: 18rem;
    background: rgb(65, 65, 65);
    width: 18rem;
    min-width: 280px;
    border-radius: 6px;
    margin: 15px;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-title {
    font-size: 20px;
    border-radius: 6px 6px 0 0;
    background: #2b2b2b;
    height: fit-content;
    overflow: hidden;
    margin: 0;
    padding: 1.5rem;
    color: white;
}

.read {
    background: green;
    height: fit-content;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    padding: 1rem;
    margin: 0;
}

/* FORM STYLING */

* {
    box-sizing: border-box;
  }
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 6px 0;
}

input[type=button]:hover {
    background-color: #45a049;
}

.form-container {
    display: block;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 600px;
    min-height: 280px;
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}