/* Document Margins */
html, header, body {
    margin: 0;
    padding: 0 0;
}

/* Navbar Styling */
.navBG {
    background: rgb(25, 25, 25);
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* background: rgb(25, 25, 25); */
    height: 80px;
    padding: 0 30px;
    max-width: 750px;
    margin: auto;
}

.title {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
}

.navtext {
    color: white;
    font-family: sans-serif;
}

.right {
    margin-left: auto;
}

.left {
    margin-right: auto;
}

#addBook {
    padding: 10px 15px;
    background: rgb(55, 202, 104);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

/* Body Styling */
body {
    background: rgb(85, 85, 85);
}

.content {
    padding: 0 30px;
}

.bodyText {
    color: white;
    font-family: sans-serif;
    text-align: center;
}