* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Document Margins */
html, header, body {
    margin: 0;
    padding: 0 0;
    background: #f5f5f5;
}

body {
    position: relative;
}

/* =======
   NAVBAR
   ====== */

header {
    margin: 30px;
    line-height: 1.5;
}

hr {
    width: 80vw;
    max-width: 650px;
    opacity: 35%;
}

#form-btn {
    padding: 10px 15px;
    background: #f5f5f5;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    color: rgba(0, 0, 0, 0.8);
}

#form-btn:hover {
    background: black;
    color: white;
}

.header-flex {
    display: flex;
    flex-direction: column;
}

.header-flex h1 {
    margin-bottom: 0;
}

/* ====
   BODY
   ==== */

body {
    background: #f5f5f5;
}

.library-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
    padding: 15px;
    height: fit-content;
    max-width: 1450px;
    margin-bottom: 80px;
}

.bodyText {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* =====
   CARDS
   ===== */

.card {
    position: relative;
    color: black;
    height: fit-content;
    background: #f5f5f5;
    width: 25rem;
    min-width: 280px;
    border-radius: 6px;
    margin: 15px;
    padding: 10px 0;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07); */
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.card:hover .remove {
    display: inline-block;
}

.card:hover .edit {
    display: inline-block;
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-footer {
    display: flex; 
    justify-content: flex-start;
}

.card-footer-edit {
    border-radius: 6px;
    padding: 10px 0;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: black;
    font-size: 13px;
}

.card-title {
    font-size: 18px;
    border-radius: 6px 6px 0 0;
    height: fit-content;
    overflow: hidden;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1.5rem;
    color: black;
    font-weight: normal;
    text-align: left;
}

.author {
    font-size: 14px;
    text-align: left;
    padding-left: 1.5rem;
}

.pages {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 1.5rem;
    margin: 0;
    text-align: left;
}

.read {
    border-radius: 6px;
    padding: 10px 0;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 1.5rem;
    width: 20%;
    border: 1px solid green;
    background: green;
    color: white;
    font-size: 13px;
}

.not-read {
    border-radius: 6px;
    padding: 10px 0;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 1.5rem;
    width: 20%;
    border: 1px solid red;
    color: red;
    font-size: 13px;
}

.card-btn {
    display: none;
    width: fit-content;
    border: none;
    padding: 5px 10px;
    position: absolute;
}

.remove {
    border-radius: 0 6px 0 6px;
    background: red;
    color: white;
    top: 0;
    right: 0;
}

/* .edit {
    border-radius: 6px 0 6px 0;
    background: sandybrown;
    left: 0;
    top: 0;
} */

/* FORM STYLING */
  
input[type=text], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 14px;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 6px 0;
}

input[type=button]:hover {
    background-color: #45a049;
}

#cancel-btn {
    margin-right: 6px;
    background: rgb(205, 0, 0);
}

#cancel-btn:hover {
    background: rgb(185, 0, 0);
}

#edit-submit-btn {
    margin-right: 6px;
    background: rgb(245, 220, 0);
    color: black;
}

#edit-submit-btn:hover {
    background: rgb(226, 204, 0);
}

.form-container {
    border-radius: 6px;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 600px;
    min-height: 280px;
    margin: auto;
    z-index: 2;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.display {
    display: block;
}

.hidden {
    display: none;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .form-container {
        position: fixed;
        top: 15%; /* change to 50% to show in middle */
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                    0 2px 4px rgba(0,0,0,0.07), 
                    0 4px 8px rgba(0,0,0,0.07), 
                    0 8px 16px rgba(0,0,0,0.07),
                    0 16px 32px rgba(0,0,0,0.07), 
                    0 32px 64px rgba(0,0,0,0.07);
        z-index: 2;
    }
}

/* Animation */
.fade-in {
    animation: fadeIn ease .7s;
}

@keyframes fadeIn {
    0% {opacity:0;}
  100% {opacity:1;}
}

/* Testing */
.center-text {
    text-align: center;
    font-weight: 400;
}

#form-btn, #submit-btn, #cancel-btn, #edit-submit-btn, .remove {
    cursor: pointer;
}

.card-footer p {
    cursor: pointer;
}

.small-font {
    font-size: 14px;
    color: rgba(0,0,0,0.75);
}

a {
    color: rgba(0,0,0,0.5);
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100vw;
    background: #f5f5f5;
}